<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/assets/img/favicon.jpg" type="image/x-icon"/>
	<meta charset="utf-8">
	<!-- Bootstrap core CSS -->
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<!--external css-->
	<link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="/assets/css/style.css" rel="stylesheet">
	<link href="/assets/css/style-responsive.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/assets/css/zabuto_calendar.css">
	<link rel="stylesheet" type="text/css" href="/assets/js/gritter/css/jquery.gritter.css" />
	<link rel="stylesheet" type="text/css" href="/assets/lineicons/style.css">
	<script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>

	<script src="/assets/js/chart-master/Chart.js"></script>

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>

</head>
<header>

</header>
<body>
<title>Bienvenido</title>
	<section id="container" >
		<!-- **********************************************************************************************************************************************************
		TOP BAR CONTENT & NOTIFICATIONS
		*********************************************************************************************************************************************************** -->
		<!--header start-->
		<header class="header black-bg">
						<div class="sidebar-toggle-box">
								<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
						</div>
					<!--logo start-->
					<a href="/#" class="logo"><b>{{nombre}}</b></a>
					<!--logo end-->
					<div class="nav notify-row" id="top_menu">
					</div>
					<form  method="POST" action="{{action_link}}">
					<div class="top-menu">
						<ul class="nav pull-right top-menu">
									{% csrf_token %}
									<li><button name="salir" vaue="salir" class="logout" type="sumbit">Salir</button></li>
						</ul>
					</div>
					<form>
			</header>
		<!--header end-->

		<!-- **********************************************************************************************************************************************************
		MAIN SIDEBAR MENU
		*********************************************************************************************************************************************************** -->
		<!--sidebar start-->
		<aside>
				<div id="sidebar"  class="nav-collapse ">
						<!-- sidebar menu start-->
						<ul class="sidebar-menu" id="nav-accordion">

								<p class="centered"><a href="/"><img src="/assets/img/friends/fr-11.jpg" class="img-circle" width="60"></a></p>
								<h5 class="centered">{{nombre}}</h5>

								<li class="mt">
										<a href="/">
												<i class="fa fa-dashboard"></i>
												<span>Principal</span>
										</a>
								</li>

								<li class="sub-menu">
										<a href="/activities/" >
												<i class="fa fa-cogs"></i>
												<span>Reparaciones</span>
										</a>
								</li>
								<li class="sub-menu">
										<a href="/users/" >
												<i class="fa fa-book"></i>
												<span>Usuarios</span>
										</a>
								</li>
								<li class="sub-menu">
										<a  class="active" href="/clients/" >
												<i class="fa fa-book"></i>
												<span>Clientes</span>
										</a>
								</li>
						</ul>
						<!-- sidebar menu end-->
				</div>
		</aside>
		<!--sidebar end-->

		<!-- **********************************************************************************************************************************************************
		MAIN CONTENT
		*********************************************************************************************************************************************************** -->
		<!--main content start-->
		<section id="main-content">
				<section class="wrapper">
						<div class="container">
							<a href="/clients/new">
								<div class="col-lg-10 main-chart">
										<div class="col-md-4 col-sm-2 col-md-offset-1 box0">
											<div class="box1">
								<span class="li_news"></span>
								<h3>{{n_clients}}</h3>
											</div>
								<p>Registrar Nuevo Cliente</p>
										</div>
										</a>
									</div><!-- /row mt -->
					</div><!-- /col-lg-9 END SECTION MIDDLE -->

				<div class="container">
				<br>
				<h2>Clientes Registrados</h2>
				<br>
				<br>
				<table class="table" id="DataTable">
				<thead>
					<tr>
						<th>Nombre</th>
					<th>E-mail</th>
						<th>Telefono</th>
					</tr>
				</thead>
					<tbody>
						{%for client in clients%}
							<tr>
								<td><a href="/clients/edit/{{ client.id }}">{{ client.nombre }}</a></td>
								<td><a href="/clients/edit/{{ client.id }}">{{ client.mail }}</a></td>
								<td><a href="/clients/edit/{{ client.id }}">{{ client.tel }}</a></td>
							</tr>
						{%endfor%}
					</tbody>
				</table>
				</div>
				</section>
		</section>

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/jquery-1.8.3.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
	<script src="/assets/js/jquery.scrollTo.min.js"></script>
	<script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="/assets/js/jquery.sparkline.js"></script>


	<link rel="stylesheet" type="text/css" href="/assets/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="/assets/js/jquery.dataTables.js"></script>


	<!--common script for all pages-->
	<script src="/assets/js/common-scripts.js"></script>

	<script type="text/javascript" src="/assets/js/gritter/js/jquery.gritter.js"></script>
	<script type="text/javascript" src="/assets/js/gritter-conf.js"></script>

	<!--script for this page-->
	<script src="/assets/js/sparkline-chart.js"></script>
	<script src="/assets/js/zabuto_calendar.js"></script>
	<script src="/assets/js/notification.js" type="text/javascript"></script>

	<script type="application/javascript">
				$(document).ready( function () {
    			$('#DataTable').DataTable();
				}	);
  </script>
</body>
</html>
