<!DOCTYPE html>
<html>
<head>

	<link rel="icon" href="/assets/img/favicon.jpg" type="image/x-icon"/>

	<!-- Bootstrap core CSS -->
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<!--external css-->
	<link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="/assets/css/style.css" rel="stylesheet">
	<link href="/assets/css/style-responsive.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/assets/css/zabuto_calendar.css">
	<link rel="stylesheet" type="text/css" href="/assets/js/gritter/css/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="/assets/js/gritter/css/jquery.gritter.css" />
	<link rel="stylesheet" type="text/css" href="/assets/lineicons/style.css">

	<!-- Bootstrap -->
</head>
<header>

</header>
<body>
<title>Bienvenido</title>
	<section id="container" >
		<!-- **********************************************************************************************************************************************************
		TOP BAR CONTENT & NOTIFICATIONS
		*********************************************************************************************************************************************************** -->
		<!--header start-->
		<header class="header black-bg">
						<div class="sidebar-toggle-box">
								<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
						</div>
					<!--logo start-->
					<a href="/#" class="logo"><b>{{nombre}}</b></a>
					<!--logo end-->
					<div class="nav notify-row" id="top_menu">
					</div>
					<form  method="POST" action="{{action_link}}">
					<div class="top-menu">
						<ul class="nav pull-right top-menu">
									{% csrf_token %}
									<li><button name="salir" vaue="salir" class="logout" type="sumbit">Salir</button></li>
						</ul>
					</div>
					<form>
			</header>
		<!--header end-->

		<!-- **********************************************************************************************************************************************************
		MAIN SIDEBAR MENU
		*********************************************************************************************************************************************************** -->
		<!--sidebar start-->
		<aside>
				<div id="sidebar"  class="nav-collapse ">
						<!-- sidebar menu start-->
						<ul class="sidebar-menu" id="nav-accordion">

								<p class="centered"><a href="/"><img src="/assets/img/friends/fr-11.jpg" class="img-circle" width="60"></a></p>
								<h5 class="centered">{{nombre}}</h5>

								<li class="mt">
										<a href="/">
												<i class="fa fa-dashboard"></i>
												<span>Principal</span>
										</a>
								</li>

								<li class="sub-menu">
										<a class="active" href="/activities/" >
												<i class="fa fa-cogs"></i>
												<span>Reparaciones</span>
										</a>
								</li>
								<li class="sub-menu">
										<a href="/users/" >
												<i class="fa fa-book"></i>
												<span>Usuarios</span>
										</a>
								</li>
								<li class="sub-menu">
										<a href="/clients/" >
												<i class="fa fa-book"></i>
												<span>Clientes</span>
										</a>
								</li>
						</ul>
						<!-- sidebar menu end-->
				</div>
		</aside>
		<!--sidebar end-->

		<!-- **********************************************************************************************************************************************************
		MAIN CONTENT
		*********************************************************************************************************************************************************** -->
		<!--main content start-->
		<section id="main-content">
				<section class="wrapper">
						<div class="container">
								<div class="col-lg-10 main-chart">
									<a href="/activities/new">
										<div class="col-md-4 col-sm-2 col-md-offset-1 box0">
											<div class="box1">
								<span class="li_stack"></span>
								<h3>{{n_activities}}</h3>
											</div>
								<p>Registrar Nueva Actividad</p>
										</div>
									</a>
									</div><!-- /row mt -->
					</div><!-- /col-lg-9 END SECTION MIDDLE -->

					<div class="container">
						<h2>{{msj_0}}</h2>
					<br>
					<br>
					<form action="/activities/" method="post">
							{% csrf_token %}
							{{ form.non_field_errors }}
							{{ form.date.errors }}
							<label for="{{ form.date.id_for_label }}">Fecha :</label>
							{{ form.date }}
							<input type="submit" class="btn btn-primary" value="Filtrar"/>
						</form>
					<br>
					<br>
  					<table class="table" id="DataTable">
						<thead>
							<tr>
								<th>IMEI</th>
								<th>Cliente</th>
								<th>Tecnico</th>
								<th>Fecha</th>
								<th>Estado</th>
								<th>ID</th>
							</tr>
						</thead>
							<tbody>
								{%for activity in activities%}
									<tr>
										<td><a href="/activities/edit/{{ activity.id }}">{{ activity.imei }}</a></td>
	      						<td>{{ activity.cliente.nombre }}</td>
	    							<td>{{ activity.tecnico.nombre }}</td>
										<td>{{ activity.fecha_diagnostico }}</td>
										<td>{% if activity.estado_actual == 0 %}
							    				{{ activity_list.0 }}
										{% elif activity.estado_actual == 1 %}
											{{ activity_list.1 }}
										{% elif activity.estado_actual == 2 %}
											{{ activity_list.2 }}
										{% elif activity.estado_actual == 3 %}
											{{ activity_list.3 }}
										{% endif %}</td>
										<td><a href="/activities/edit/{{ activity.id }}">{{ activity.id }}</a></td>
									</tr>
								{%endfor%}
							</tbody>
						</table>
	<!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->
							<br><br>
				</section>
		</section>

		<script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/jquery-1.8.3.min.js"></script>

		<script src="/assets/js/bootstrap.min.js"></script>
		<script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="/assets/js/jquery.scrollTo.min.js"></script>
		<script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
		<script src="/assets/js/jquery.sparkline.js"></script>

				<link rel="stylesheet" type="text/css" href="/assets/css/jquery.dataTables.css">
				<script type="text/javascript" charset="utf8" src="/assets/js/jquery.dataTables.js"></script>

				<!--script for this page-->
				<script src="/assets/js/sparkline-chart.js"></script>
				<script src="/assets/js/zabuto_calendar.js"></script>
				<script src="/assets/js/notification.js" type="text/javascript"></script>

				<!--common script for all pages-->
				<script src="/assets/js/common-scripts.js"></script>
				<script src="/assets/js/jquery-ui.js"></script>

				<script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
				<script src="/assets/js/chart-master/Chart.js"></script>

	<script type="application/javascript">
				$(document).ready( function () {
    			$('#DataTable').DataTable();
				}	);
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
			  $( function() {
			    $("#datepicker").datepicker();
			  } );
  </script>
</body>
</html>
