<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/assets/img/favicon.jpg" type="image/x-icon"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Dashboard">
	<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

	<!-- Bootstrap core CSS -->
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<!--external css-->
	<link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="/assets/css/style.css" rel="stylesheet">
	<link href="/assets/css/style-responsive.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/assets/css/zabuto_calendar.css">
	<link rel="stylesheet" type="text/css" href="/assets/js/gritter/css/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="/assets/js/gritter/css/jquery.gritter.css" />
	<link rel="stylesheet" type="text/css" href="/assets/lineicons/style.css">
	<script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>

	<script src="/assets/js/chart-master/Chart.js"></script>

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>

</head>
<header>

</header>
<body>
<title>Bienvenido</title>
	<section id="container" >
		<!-- **********************************************************************************************************************************************************
		TOP BAR CONTENT & NOTIFICATIONS
		*********************************************************************************************************************************************************** -->
		<!--header start-->
		<header class="header black-bg">
						<div class="sidebar-toggle-box">
								<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
						</div>
					<!--logo start-->
					<a href="/#" class="logo"><b>{{nombre}}</b></a>
					<!--logo end-->
					<div class="nav notify-row" id="top_menu">
					</div>
					<form  method="POST" action="{{action_link}}">
					<div class="top-menu">
						<ul class="nav pull-right top-menu">
									{% csrf_token %}
									<li><button name="salir" vaue="salir" class="logout" type="sumbit">Salir</button></li>
						</ul>
					</div>
					<form>
			</header>
		<!--header end-->

		<!-- **********************************************************************************************************************************************************
		MAIN SIDEBAR MENU
		*********************************************************************************************************************************************************** -->
		<!--sidebar start-->
		<aside>
				<div id="sidebar"  class="nav-collapse ">
						<!-- sidebar menu start-->
						<ul class="sidebar-menu" id="nav-accordion">

								<p class="centered"><a href="/"><img src="/assets/img/friends/fr-11.jpg" class="img-circle" width="60"></a></p>
								<h5 class="centered">{{nombre}}</h5>

								<li class="mt">
										<a href="/">
												<i class="fa fa-dashboard"></i>
												<span>Principal</span>
										</a>
								</li>

								<li class="sub-menu">
										<a class="active" href="/activities/" >
												<i class="fa fa-cogs"></i>
												<span>Reparaciones</span>
										</a>
								</li>
								<li class="sub-menu">
										<a href="/users/" >
												<i class="fa fa-book"></i>
												<span>Usuarios</span>
										</a>
								</li>
								<li class="sub-menu">
										<a href="/clients/" >
												<i class="fa fa-book"></i>
												<span>Clientes</span>
										</a>
								</li>
						</ul>
						<!-- sidebar menu end-->
				</div>
		</aside>
		<!--sidebar end-->

		<!-- **********************************************************************************************************************************************************
		MAIN CONTENT
		*********************************************************************************************************************************************************** -->
		<!--main content start-->
		<section id="main-content">
				<section class="wrapper">
						<div class="container">
								<div class="col-lg-10 main-chart">
									<a href="/activities/new">
										<div class="col-md-4 col-sm-2 col-md-offset-1 box0">
											<div class="box1">
											<span class="li_stack"></span>
											<h3>{{n_activities}}</h3>
											</div>
											<p></p>
										</div>
									</a>
									</div><!-- /row mt -->
					</div><!-- /col-lg-9 END SECTION MIDDLE -->
				<div class="container">
					<h2>{{msj_0}}</h2>
					<div class="list-group">
						{%for activity in activities%}
						<a href="/activities/edit/{{ activity.id_activity }}" class="list-group-item">
      			<h4 class="list-group-item-heading">{{ activity.fecha_diagnostico }}</h4>
      			<p class="list-group-item-text">{{ activity.tecnico.nombre }}</p>
    				</a>
						{%endfor%}
					</div>
				</div>
	<!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->
							<br><br>
				</section>



				<div class="container">
					<h2>Registrar Nueva Actividad </h2>
					<form action="{{link}}" method="post">
						{% csrf_token %}
						{{ form.non_field_errors }}
						<div class="fieldWrapper">
							<h3> Ficha técnica </h3>
							{{ form.cliente.errors }}
							<label for="{{ form.subject.id_for_label }}">Cliente :</label>
							<select name="cliente" id="id_cliente">
								{%for client in clients%}
    							<option value="{{client.id}}">{{client.nombre}}</option>
								{% endfor %}
  						</select>
							<br>
							{{ form.tecnico.errors }}
							<label for="{{ form.subject.id_for_label }}">Tecnico :</label>
							<select name="tecnico" id="id_tecnico">
								{%for user in users%}
									<option value="{{user.id}}">{{user.nombre}}</option>
								{% endfor %}
							</select>
							<br>
							{{ form.diagnostic_date.errors }}
							<label for="{{ form.subject.id_for_label }}">Fecha de diagnostico :</label>
							{{ form.diagnostic_date }}
							<br>
							{{ form.object.errors }}
							<label for="{{ form.subject.id_for_label }}">Equipo :</label>
							{{ form.object }}
							{{ form.mark.errors }}
							<label for="{{ form.subject.id_for_label }}">Marca :</label>
							{{ form.mark }}
							<br>
							{{ form.type.errors }}
							<label for="{{ form.subject.id_for_label }}">Tipo :</label>
							{{ form.type }}
							{{ form.serie.errors }}
							<label for="{{ form.subject.id_for_label }}">Serie :</label>
							{{ form.serie }}
							<br>
							{{ form.state.errors }}
							<label for="{{ form.subject.id_for_label }}">Estado :</label>
							<select name="state" id="id_state">
									<option value="0">Revisado</option>
									<option value="1">En reparacion</option>
									<option value="2">Listo</option>
									<option value="3">Entregado</option>
							</select>
							{{ form.imei.errors }}
							<label for="{{ form.subject.id_for_label }}">IMEI :</label>
							{{ form.imei }}
							<br>
							{{ form.diagnostic.errors }}
							<label for="{{ form.subject.id_for_label }}">Diagnostico :</label>
							{{ form.diagnostic }}
							<br>
							{{ form.comment.errors }}
							<label for="{{ form.subject.id_for_label }}">Observaciones :</label>
							{{ form.comment }}
							<br>
							{{ form.print.errors }}
							<label for="{{ form.subject.id_for_label }}">¿Imprimir? :</label>
							{{ form.print }}
							<br>
						</div>
						<input type="submit" class="btn btn-primary" value="Guardar"/>

								<a href="/activities/">
									<button type="cancel" name="cancel" class="btn btn-warning">Cancelar</button>
								</a>

						{% if error %}
							<div class="alert alert-warning">
								<strong>Advertencia!</strong> {{error}}
							</div>
						{%endif%}
					</form>
					{%if edit%}
					<form  method="POST" onsubmit="return confirm('¿Realmente desea eliminar a \'{{form.name.value}}\' ?');">
						{% csrf_token %}
						<button type="sumbit" name="remove" class="btn btn-danger">Remove</button>
					</form>
					{%endif%}
				</div>
				<br><br>
				<br>
		</section>

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/jquery-1.8.3.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
	<script src="/assets/js/jquery.scrollTo.min.js"></script>
	<script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="/assets/js/jquery.sparkline.js"></script>


	<!--common script for all pages-->
	<script src="/assets/js/common-scripts.js"></script>
  <script src="/assets/js/jquery-ui.js"></script>
	<script type="text/javascript" src="/assets/js/gritter/js/jquery.gritter.js"></script>
	<script type="text/javascript" src="/assets/js/gritter-conf.js"></script>

	<!--script for this page-->
	<script src="/assets/js/sparkline-chart.js"></script>
	<script src="/assets/js/zabuto_calendar.js"></script>
	<script src="/assets/js/notification.js" type="text/javascript"></script>

	<script type="application/javascript">
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
			  $( function() {
			    $("#datepicker").datepicker();
			  } );
  </script>
</body>
</html>
