<html lang="es">
<head>
	<link rel="stylesheet" href="/assets/ticketFormat/recibo.css">
</head>

<body>
	<div id="botonera">
		<div id="Formulario" hidden>{{form}}</div>
		<br>
		<!-- El resto se realiza en JS -->
		<button onClick="toggle();">Formulario</button>
		<button onClick="setData();">Aplicar Cambios</button>
		<button onClick="javascript:window.print();">Imprimir</button>
	</div>
	<div id="page1">

		<div class="bordeRecibo">
			<header>

				<!-- Lado Izquierdo -->
				<div class="column left">
					<div class="container">
						<br>
						<div class="row text-left negrita h3">{{Empresa}}</div>
						<div class="row text-left h3">{{Empresa_Dir}}</div>
						{%for Tel in Empresa_Tel%}
						<div class="row text-left h3">{{Tel}}</div>
						{% endfor %}
					</div>
				</div>

				<!-- Lado Central -->
				<div class="column center text-center">
					<br><span id="tipoComprobante">X</span>
					<br><br>
					<span id="leyendaTipoComprobante" class="preimpreso">DOCUMENTO<br>NO VALIDO<br>COMO<br>FACTURA</span>
				</div>

				<!-- Lado Derecho -->
				<div class="column right">
					<div class="container">
						<br><div id="lblComprobante" class="row text-center negrita h1">RECIBO</div>
						<div id="lblNroCmp" class="row text-center negrita h4"><span class="preimpreso">Nro</span> {{ ticket_nro }} </div>
						<div class="row text-center h3">&nbsp;</div>
						<div class="row text-left h3">FECHA <span class="pull-right" id="Fecha0"> {{ ticket_date }} </span></div>
					</div>
				</div>
			</header>

			<section>
				<p id="Fecha1">{{ ticket_date }}</p>
				<br>
				<br>
				<span class="preimpreso">Recibimos de</span> {{ activity.cliente.nombre }}
				<br>
				<!-- <span class="preimpreso">la cantidad de </span><span id="importeEnLetras"> Total en letras JS </span> -->
			</section>

			<section id="sectionMedioPago">
				<span class="preimpreso">Mediante</span>
				<div class="row">
					<span id="Method">Efectivo</span>
					<!-- <span class="pull-right negrita importeEnPesos"> Total en Numero </span> -->
				</div>
			</section>

			<section>
				<span class="preimpreso">En concepto de</span>
				<div class="row">
					<span id="ConceptoServicio"> Servicio de reparacion </span>
				</div>
				<br>
				<div class="row">
					<span> IMEI   : {{ activity.imei }} </span>
					<!-- <span name="a" class="pull-right negrita importeEnPesos">Total del concepto</span> -->
				</div>
				<div class="row">
					<span> Equipo : {{ activity.equipo }}</span>
				</div>
				<div class="row">
					<span> Marca : {{ activity.marca }}</span>
				</div>	
				<div class="row">
					<span> Serie : {{ activity.serie }}</span>
				</div>		
	
			</section>
			
			<footer>

				<section id="son"> <span class="preimpreso">TOTAL:</span>
					<output id="totalRecibo" class="negrita importeEnPesos">Total del Recibo</output>
				</section>

				<section id="firma">
					<div id="hr" class="pull-right">&nbsp;</div>
					<p class="text-right">{{Empresa}}</p>
				</section>

			</footer>
		</div><!-- bordeRecibo -->
	</div><!-- Page1 -->
	<script src="/assets/js/ticket.js" type="text/javascript"></script>
</body>
</html>
