<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/assets/img/favicon.jpg" type="image/x-icon"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Dashboard">
	<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

	<!-- Bootstrap core CSS -->
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<!--external css-->
	<link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="/assets/css/style.css" rel="stylesheet">
	<link href="/assets/css/style-responsive.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/assets/js/gritter/css/jquery.gritter.css" />
	<link rel="stylesheet" type="text/css" href="/assets/lineicons/style.css">

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>

</head>
<header>

</header>
<body>
	{% if login %}
	<script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
	<script>
			$.backstretch("/assets/img/rubber-rings-2512269.jpg", {speed: 500});
	</script>
<title>Inicio de sesión</title>
<div id="login-page">
	<div class="container">
			<form class="form-login" action="{{ action_link }}" method="POST">
				<h2 class="form-login-heading">sign in now</h2>
				<div class="login-wrap">
						{% csrf_token %}
						{{ login.non_field_errors }}
						<h2 class="form-signin-heading">Por favor, inicie sesión</h2>
						{{ login.user_name.errors }}
						<input name="user_name" maxlength="30" id="id_user_name"type="text" class="form-control" placeholder="{{login.user_name.label}}" autofocus required>
						<br>
						{{ login.psw.errors }}
						<input name="psw" id="id_psw" type="password" class="form-control" placeholder="{{login.psw.label}}" required>
						<label class="checkbox">
						</label>
						<button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
						<hr>
				</div>
			</form>

	</div>
</div>
	{% else %}
<title>Bienvenido</title>
	<section id="container" >
		<!-- **********************************************************************************************************************************************************
		TOP BAR CONTENT & NOTIFICATIONS
		*********************************************************************************************************************************************************** -->
		<!--header start-->
		<header class="header black-bg">
						<div class="sidebar-toggle-box">
								<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
						</div>
					<!--logo start-->
					<a href="/#" class="logo"><b>{{nombre}}</b></a>
					<!--logo end-->
					<div class="nav notify-row" id="top_menu">
					</div>
					<form  method="POST" action="{{action_link}}">
					<div class="top-menu">
						<ul class="nav pull-right top-menu">
									{% csrf_token %}
									<li><button name="salir" vaue="salir" class="logout" type="sumbit">Salir</button></li>
						</ul>
					</div>
					<form>
			</header>
		<!--header end-->

		<!-- **********************************************************************************************************************************************************
		MAIN SIDEBAR MENU
		*********************************************************************************************************************************************************** -->
		<!--sidebar start-->
		<aside>
				<div id="sidebar"  class="nav-collapse ">
						<!-- sidebar menu start-->
						<ul class="sidebar-menu" id="nav-accordion">

								<p class="centered"><a href="/"><img src="/assets/img/friends/fr-11.jpg" class="img-circle" width="60"></a></p>
								<h5 class="centered">{{nombre}}</h5>

								<li class="mt">
										<a href="/">
												<i class="fa fa-dashboard"></i>
												<span>Principal</span>
										</a>
								</li>

								<li class="sub-menu">
										<a href="/activities/" >
												<i class="fa fa-cogs"></i>
												<span>Reparaciones</span>
										</a>
								</li>
								<li class="sub-menu">
										<a class = "active" href="/users/" >
												<i class="fa fa-book"></i>
												<span>Usuarios</span>
										</a>
								</li>
								<li class="sub-menu">
										<a href="/clients/" >
												<i class="fa fa-book"></i>
												<span>Clientes</span>
										</a>
								</li>
						</ul>
						<!-- sidebar menu end-->
				</div>
		</aside>
		<!--sidebar end-->

		<!-- **********************************************************************************************************************************************************
		MAIN CONTENT
		*********************************************************************************************************************************************************** -->
		<!--main content start-->
		<section id="main-content">
				<section class="wrapper">
					<div class="container">
					<div class="col-lg-10 main-chart">
								<a href="/users/new">
										<div class="col-md-4 col-sm-2 col-md-offset-1 box0">
											<div class="box1">
												<span class="li_news"></span>
												<h3>{{n_users}}</h3>
											</div>
											<p>Registrar Nuevo Usuario</p>
										</div>
								</a>
					</div>
				</div>
</section>
					<div class="container">
						<h2>{{msj_0}}</h2>
						<div class="list-group">
							{%for user in users%}
							<a href="/users/{{ user.id }}" class="list-group-item">
							<h4 class="list-group-item-heading">{{ user.nombre }}</h4>
							<p class="list-group-item-text">{{ user.tel }}</p>
							</a>
							{%endfor%}
						</div>
					</div>

		</section>

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/jquery-1.8.3.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>

	<!--common script for all pages-->
	<script src="/assets/js/common-scripts.js"></script>

	<script type="text/javascript" src="/assets/js/gritter/js/jquery.gritter.js"></script>
	<script type="text/javascript" src="/assets/js/gritter-conf.js"></script>

	<script src="/assets/js/notification.js" type="text/javascript"></script>
	<script src="/assets/js/CookieCtl.js" type="text/javascript"></script>
	<script type="application/javascript">
		if(getCookie("cookie_life")==""){
			setCookie("cookie_life","true");
			setCookie("notification","done!");
			show_notification("Bienvenido",
					"Hola de nuevo {{nombre}}",//Mensaje
					'assets/img/favicon.jpg',
					true,
					'',
					'my-sticky-class'
			);
		}
	</script>

	<script type="application/javascript">
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>
</body>
{%endif%}
</html>
