<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/assets/img/favicon.jpg" type="image/x-icon"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Dashboard">
	<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

	<!-- Bootstrap core CSS -->
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<!--external css-->
	<link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="/assets/css/style.css" rel="stylesheet">
	<link href="/assets/css/style-responsive.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/assets/js/gritter/css/jquery.gritter.css" />
	<link rel="stylesheet" type="text/css" href="/assets/lineicons/style.css">

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>

</head>
<header>

</header>
<body>
<title>Bienvenido</title>
	<section id="container" >
		<!-- **********************************************************************************************************************************************************
		TOP BAR CONTENT & NOTIFICATIONS
		*********************************************************************************************************************************************************** -->
		<!--header start-->
		<header class="header black-bg">
						<div class="sidebar-toggle-box">
								<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
						</div>
					<!--logo start-->
					<a href="/#" class="logo"><b>{{nombre}}</b></a>
					<!--logo end-->
					<div class="nav notify-row" id="top_menu">
					</div>
					<form  method="POST" action="{{action_link}}">
					<div class="top-menu">
						<ul class="nav pull-right top-menu">
									{% csrf_token %}
									<li><button name="salir" vaue="salir" class="logout" type="sumbit">Salir</button></li>
						</ul>
					</div>
					<form>
			</header>
		<!--header end-->

		<!-- **********************************************************************************************************************************************************
		MAIN SIDEBAR MENU
		*********************************************************************************************************************************************************** -->
		<!--sidebar start-->
		<aside>
				<div id="sidebar"  class="nav-collapse ">
						<!-- sidebar menu start-->
						<ul class="sidebar-menu" id="nav-accordion">

								<p class="centered"><a href="/"><img src="/assets/img/friends/fr-11.jpg" class="img-circle" width="60"></a></p>
								<h5 class="centered">{{nombre}}</h5>

								<li class="mt">
										<a href="/">
												<i class="fa fa-dashboard"></i>
												<span>Principal</span>
										</a>
								</li>

								<li class="sub-menu">
										<a href="/activities/" >
												<i class="fa fa-cogs"></i>
												<span>Reparaciones</span>
										</a>
								</li>
								<li class="sub-menu">
										<a class = "active" href="/users/" >
												<i class="fa fa-book"></i>
												<span>Usuarios</span>
										</a>
								</li>
								<li class="sub-menu">
										<a href="/clients/" >
												<i class="fa fa-book"></i>
												<span>Clientes</span>
										</a>
								</li>
						</ul>
						<!-- sidebar menu end-->
				</div>
		</aside>
		<!--sidebar end-->

		<!-- **********************************************************************************************************************************************************
		MAIN CONTENT
		*********************************************************************************************************************************************************** -->
		<!--main content start-->
		<section id="main-content">
				<section class="wrapper">
						<div class="container">
					     <div class="col-lg-9 main-chart">
								      <a href="/users/new">
										     <div class="col-md-4 col-sm-2 col-md-offset-1 box0">
											   <div class="box1">
												  <span class="li_news"></span>
											    <h3>{{n_users}}</h3>
											   </div>
											    <p>Usuarios registrados.</p>
										     </div>
								      </a>
					    </div>
						</div>
          </section>
					<div class="container">
            {%if edit%}
              <h2>Editar Usuario</h2>
            {%else%}
						  <h2>Nuevo Usuario</h2>
            {% endif %}
            <form action="{{link}}" method="post">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <div class="fieldWrapper">
                <h3> Datos de contacto </h3>
                {{ form.name.errors }}
                <label for="{{ form.subject.id_for_label }}">Nombre :</label>
                {{ form.name }}
                <br>
                {{ form.date.errors }}
                <label for="{{ form.subject.id_for_label }}">Fecha de nacimiento :</label>
                {{ form.date }}
                <br>
                {{ form.phone.errors }}
                <label for="{{ form.subject.id_for_label }}">Teléfono :</label>
                {{ form.phone }}
                <h3> Datos de cuenta </h3>
                {{ form.user_name.errors }}
                <label for="{{ form.subject.id_for_label }}">Nombre de usuario :</label>
                {{ form.user_name }}
                <br>
                {{ form.psw1.errors }}
                <label for="{{ form.subject.id_for_label }}">Contraseña :</label>
                {{ form.psw1 }}
                <br>
                {{ form.psw2.errors }}
                <label for="{{ form.subject.id_for_label }}">Confirmar contraseña :</label>
                {{ form.psw2 }}
                <br>
                {{ form.mail.errors }}
                <label for="{{ form.subject.id_for_label }}">E-mail :</label>
                {{ form.mail }}
                <br>
              </div>
              <input type="submit" class="btn btn-primary" value="Guardar"/>
                  <a href="/users/">
                    <button type="cancel" name="cancel" class="btn btn-warning">Cancelar</button>
                  </a>
              {% if error %}
                <div class="alert alert-warning">
                  <strong>Advertencia!</strong> {{error}}
                </div>
              {%endif%}
            </form>
            {%if edit%}
            <form  method="POST" onsubmit="return confirm('¿Realmente desea eliminar a \'{{form.name.value}}\' ?');">
  					  {% csrf_token %}
              <button type="sumbit" name="remove" class="btn btn-danger">Remove</button>
            </form>
            {%endif%}
					</div>
		</section>

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/jquery-1.8.3.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>

	<!--common script for all pages-->
	<script src="/assets/js/common-scripts.js"></script>

	<script type="text/javascript" src="/assets/js/gritter/js/jquery.gritter.js"></script>
	<script type="text/javascript" src="/assets/js/gritter-conf.js"></script>

	<script src="/assets/js/notification.js" type="text/javascript"></script>
	<script src="/assets/js/CookieCtl.js" type="text/javascript"></script>
	<script type="application/javascript">
		if(getCookie("cookie_life")==""){
			setCookie("cookie_life","true");
			setCookie("notification","done!");
			show_notification("Bienvenido",
					"Hola de nuevo {{nombre}}",//Mensaje
					'assets/img/favicon.jpg',
					true,
					'',
					'my-sticky-class'
			);
		}else{

		}
	</script>

	<script type="application/javascript">
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>
</body>
</html>
